In [1]:
import pandas

In [3]:
file = "../data/2019_censcomercialbcn_detall.csv"

df = pandas.read_csv(file)

new_df = df[['Codi_Principal_Activitat', 'Nom_Principal_Activitat', 'Codi_Sector_Activitat', 'Nom_Sector_Activitat', 'Codi_Grup_Activitat', 'Nom_Grup_Activitat', 'Nom_Local', 'SN_Oci_Nocturn', 'SN_Obert24h', 'SN_Carrer', 'Nom_Mercat', 'Nom_Galeria', 'Nom_CComercial', 'Direccio_Unica', 'Codi_Via', 'Nom_Via', 'Codi_Barri', 'Nom_Barri', 'Codi_Districte', 'Nom_Districte']]

C:\Users\Angel\AppData\Local\Temp\ipykernel_12292\2816647579.py:3: DtypeWarning: Columns (35,37) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pandas.read_csv(file)

In [5]:
new_df.head()

,Codi_Principal_Activitat,Nom_Principal_Activitat,Codi_Sector_Activitat,Nom_Sector_Activitat,Codi_Grup_Activitat,Nom_Grup_Activitat,Nom_Local,SN_Oci_Nocturn,SN_Obert24h,SN_Carrer,Nom_Mercat,Nom_Galeria,Nom_CComercial,Direccio_Unica,Codi_Via,Nom_Via,Codi_Barri,Nom_Barri,Codi_Districte,Nom_Districte
0,1,Actiu,2,Serveis,16,Altres,SORIGUE,1,1,0,NaN,NaN,NaN,"222206, 19-19, LOC 10",222206,MOTORS,12,la Marina del Prat Vermell,3,Sants-Montjuïc
1,1,Actiu,2,Serveis,16,Altres,CEJIDOS SIVILA S.A,1,1,0,NaN,NaN,NaN,"222206, 278-282, LOC 10",222206,MOTORS,12,la Marina del Prat Vermell,3,Sants-Montjuïc
2,1,Actiu,2,Serveis,16,Altres,QUALITY ESPRESO,1,1,0,NaN,NaN,NaN,"222206, 1-9, LOC 10",222206,MOTORS,12,la Marina del Prat Vermell,3,Sants-Montjuïc
3,1,Actiu,3,Altres,17,Altres,CLD,1,1,0,NaN,NaN,NaN,"222206, 21-21, LOC 10",222206,MOTORS,12,la Marina del Prat Vermell,3,Sants-Montjuïc
4,1,Actiu,2,Serveis,16,Altres,"CATALANA DEL BUTANO,S.A",1,1,0,NaN,NaN,NaN,"222206, 25-27, LOC 10",222206,MOTORS,12,la Marina del Prat Vermell,3,Sants-Montjuïc

In [6]:
new_df.describe()

,Codi_Principal_Activitat,Codi_Sector_Activitat,Codi_Grup_Activitat,SN_Oci_Nocturn,SN_Obert24h,SN_Carrer,Codi_Via,Codi_Barri,Codi_Districte
count,80554.000000,80554.000000,80554.000000,80554.000000,80554.000000,80554.000000,80554.000000,80554.000000,80554.000000
mean,0.764183,2.221019,7.946942,0.997095,0.996673,0.042456,199124.310152,29.549023,5.187191
std,0.424511,1.090387,6.822455,0.053819,0.057584,0.201628,130662.647977,22.272671,3.056172
min,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,306.000000,1.000000,1.000000
25%,1.000000,1.000000,1.000000,1.000000,1.000000,0.000000,94605.000000,9.000000,2.000000
50%,1.000000,2.000000,7.000000,1.000000,1.000000,0.000000,189100.000000,26.000000,5.000000
75%,1.000000,3.000000,15.000000,1.000000,1.000000,0.000000,288703.000000,46.000000,8.000000
max,1.000000,5.000000,17.000000,1.000000,1.000000,1.000000,701818.000000,73.000000,10.000000

In [7]:
new_df.shape

(80554, 20)

In [8]:
new_df["Nom_Principal_Activitat"].unique()

array(['Actiu', 'Sense activitat Econòmica'], dtype=object)

In [10]:
new_df["Nom_Sector_Activitat"].unique()

array(['Serveis', 'Altres', 'Comerç al detall', 'Sense informació',
       'Sense informació - Havia tingut activitat (rètol)', 'En reforma',
       'Locals buits en venda i lloguer', 'Locals buits en lloguer',
       'Locals buits en venda', 'Comerç al detall /Engròs'], dtype=object)

In [12]:
new_df["Nom_Grup_Activitat"].unique()

array(['Altres', 'Automoció',
       'Restaurants, bars i hotels (Inclòs hostals, pensions i fondes)',
       'Parament de la llar', 'Quotidià alimentari',
       'Quotidià no alimentari', 'Equipament personal', 'Ensenyament',
       'Grup no definit', 'Reparacions (Electrodomèstics i automòbils)',
       'Sanitat i assistència', 'Finances i assegurances',
       'Equipaments culturals i recreatius', 'Activitats immobiliàries',
       'Oci i cultura', 'Manteniment, neteja i producció'], dtype=object)